distro==1.9.0
ghapi==1.0.6
lesscpy==0.15.1
mkdocs==1.6.1
mkdocs-glightbox==0.4.0
mkdocs-google-translate==1.2.0
mkdocs-material==9.5.37
mkdocs-material[imaging]==9.5.37
mkdocs-minify-plugin==0.8.0
pymdown-extensions==10.10.1
requests==2.32.3
toc==0.0.14
