name: Google Lighthouse

on:
  workflow_run:
    workflows: ["Deploy"]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      actions: read  # for dawidd6/action-download-artifact to query and download artifacts
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for dawidd6/action-download-artifact to query commit hash
    strategy:
      fail-fast: false
      matrix:
        formFactor: [mobile, desktop]
        include:
          # Using Galaxy S21 size https://blisk.io/devices/details/galaxy-s21
          - formFactor: mobile
            width: 360
            height: 800
            deviceScaleFactor: 3
            mobile: true
          - formFactor: desktop
            width: 1920
            height: 1080
            deviceScaleFactor: 1
            mobile: false
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: echo "workflow_name=$(basename ${{ github.event.workflow.path }})" >> "$GITHUB_OUTPUT"
        id: last_workflow
        shell: bash
      - uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          workflow: ${{ steps.last_workflow.outputs.workflow_name }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
          check-latest: true
      - run: npm install -D @lhci/cli@latest
      - run: npx lhci collect --settings.formFactor ${{ matrix.formFactor }} --settings.screenEmulation.width ${{ matrix.width }} --settings.screenEmulation.height ${{ matrix.height }} --settings.screenEmulation.deviceScaleFactor ${{ matrix.deviceScaleFactor }} --settings.screenEmulation.mobile ${{ matrix.mobile }}
      - run: npx lhci assert
      - run: npx lhci upload --target=temporary-public-storage --githubStatusContextSuffix /${{ matrix.formFactor }}
        if: ${{ always() }}
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
      - run: npx lhci upload --target=filesystem --outputDir=./lhci-${{ matrix.formFactor }} --githubStatusContextSuffix /${{ matrix.formFactor }}
        if: ${{ always() }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ always() }}
        with:
          name: lhci-${{ matrix.formFactor }}
          path: ${{ github.workspace }}/lhci-${{ matrix.formFactor }}/
          if-no-files-found: error
          compression-level: 9