on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/versioning.yml"
      - ".python-version"
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        id: sp
        with:
          python-version: '3.x'
          check-latest: true
          cache: 'pip'
      - run: echo "${{ steps.sp.outputs.python-version }}" > .python-version
      - name: Git Setup
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: git commit .python-version -m "Upgraded to python ${{ steps.sp.outputs.python-version }}" || echo "python change not needed"
      - run: git push